<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Sunx Blog</title>
    <link
      href="https://cdn.bootcss.com/element-ui/2.4.0/theme-chalk/index.css"
      rel="stylesheet"
    />
    <link href="static/home/css/style.css" rel="stylesheet" />
    <!-- <link rel="icon" type="image/x-icon" href="~assets/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~assets/favicon.ico" /> -->
    <!-- 使用vue开发工具时，引入vue.js，生产时引入vue.min.js -->
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>

    <script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts-en.common.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.4.0/index.js"></script>
    <script>
      (function(window, document) {
        // 设计稿尺寸 1800
        var designSourceWidth = 1800;
        var flexible = {};
        flexible.px2rem = function(px) {
          return parseInt(px, 10) / 100;
        };
        flexible.mresize = function() {
          var innerWidth =
            (document.documentElement &&
              document.documentElement.clientWidth) ||
            window.innerWidth;
          if (!innerWidth) {
            return;
          }
          var width = innerWidth;
          var fontSize = (width * 100) / designSourceWidth;
          document.documentElement.style.fontSize = fontSize + "px";
        };
        flexible.mresize();
        window.addEventListener("resize", flexible.mresize, false);
        window.addEventListener("load", flexible.mresize, false);
        setTimeout(function() {
          flexible.mresize();
        }, 300);
        window.Flexible = flexible;
      })(window, document);
    </script>
  </head>
  <body>
    <!--vue-ssr-outlet-->
  </body>
</html>
