
.wscn-http404[data-v-6b3aeb0e] {
  position: relative;
  width: 1200px;
  margin: 20px auto 60px;
  padding: 0 100px;
  overflow: hidden;
}
.wscn-http404 .pic-404[data-v-6b3aeb0e] {
    position: relative;
    float: left;
    width: 600px;
    padding: 150px 0;
    overflow: hidden;
}
.wscn-http404 .pic-404__parent[data-v-6b3aeb0e] {
      width: 100%;
}
.wscn-http404 .pic-404__child[data-v-6b3aeb0e] {
      position: absolute;
}
.wscn-http404 .pic-404__child.left[data-v-6b3aeb0e] {
        width: 80px;
        top: 17px;
        left: 220px;
        opacity: 0;
        -webkit-animation-name: cloudLeft-data-v-6b3aeb0e;
                animation-name: cloudLeft-data-v-6b3aeb0e;
        -webkit-animation-duration: 2s;
                animation-duration: 2s;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-delay: 1s;
                animation-delay: 1s;
}
.wscn-http404 .pic-404__child.mid[data-v-6b3aeb0e] {
        width: 46px;
        top: 10px;
        left: 420px;
        opacity: 0;
        -webkit-animation-name: cloudMid-data-v-6b3aeb0e;
                animation-name: cloudMid-data-v-6b3aeb0e;
        -webkit-animation-duration: 2s;
                animation-duration: 2s;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-delay: 1.2s;
                animation-delay: 1.2s;
}
.wscn-http404 .pic-404__child.right[data-v-6b3aeb0e] {
        width: 62px;
        top: 100px;
        left: 500px;
        opacity: 0;
        -webkit-animation-name: cloudRight-data-v-6b3aeb0e;
                animation-name: cloudRight-data-v-6b3aeb0e;
        -webkit-animation-duration: 2s;
                animation-duration: 2s;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-delay: 1s;
                animation-delay: 1s;
}
@-webkit-keyframes cloudLeft-data-v-6b3aeb0e {
0% {
    top: 17px;
    left: 220px;
    opacity: 0;
}
20% {
    top: 33px;
    left: 188px;
    opacity: 1;
}
80% {
    top: 81px;
    left: 92px;
    opacity: 1;
}
100% {
    top: 97px;
    left: 60px;
    opacity: 0;
}
}
@keyframes cloudLeft-data-v-6b3aeb0e {
0% {
    top: 17px;
    left: 220px;
    opacity: 0;
}
20% {
    top: 33px;
    left: 188px;
    opacity: 1;
}
80% {
    top: 81px;
    left: 92px;
    opacity: 1;
}
100% {
    top: 97px;
    left: 60px;
    opacity: 0;
}
}
@-webkit-keyframes cloudMid-data-v-6b3aeb0e {
0% {
    top: 10px;
    left: 420px;
    opacity: 0;
}
20% {
    top: 40px;
    left: 360px;
    opacity: 1;
}
70% {
    top: 130px;
    left: 180px;
    opacity: 1;
}
100% {
    top: 160px;
    left: 120px;
    opacity: 0;
}
}
@keyframes cloudMid-data-v-6b3aeb0e {
0% {
    top: 10px;
    left: 420px;
    opacity: 0;
}
20% {
    top: 40px;
    left: 360px;
    opacity: 1;
}
70% {
    top: 130px;
    left: 180px;
    opacity: 1;
}
100% {
    top: 160px;
    left: 120px;
    opacity: 0;
}
}
@-webkit-keyframes cloudRight-data-v-6b3aeb0e {
0% {
    top: 100px;
    left: 500px;
    opacity: 0;
}
20% {
    top: 120px;
    left: 460px;
    opacity: 1;
}
80% {
    top: 180px;
    left: 340px;
    opacity: 1;
}
100% {
    top: 200px;
    left: 300px;
    opacity: 0;
}
}
@keyframes cloudRight-data-v-6b3aeb0e {
0% {
    top: 100px;
    left: 500px;
    opacity: 0;
}
20% {
    top: 120px;
    left: 460px;
    opacity: 1;
}
80% {
    top: 180px;
    left: 340px;
    opacity: 1;
}
100% {
    top: 200px;
    left: 300px;
    opacity: 0;
}
}
.wscn-http404 .bullshit[data-v-6b3aeb0e] {
    position: relative;
    float: left;
    width: 300px;
    padding: 150px 0;
    overflow: hidden;
}
.wscn-http404 .bullshit__oops[data-v-6b3aeb0e] {
      font-size: 32px;
      font-weight: bold;
      line-height: 40px;
      color: #1482f0;
      opacity: 0;
      margin-bottom: 20px;
      -webkit-animation-name: slideUp-data-v-6b3aeb0e;
              animation-name: slideUp-data-v-6b3aeb0e;
      -webkit-animation-duration: 0.5s;
              animation-duration: 0.5s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
}
.wscn-http404 .bullshit__headline[data-v-6b3aeb0e] {
      font-size: 20px;
      line-height: 24px;
      color: #1482f0;
      opacity: 0;
      margin-bottom: 10px;
      -webkit-animation-name: slideUp-data-v-6b3aeb0e;
              animation-name: slideUp-data-v-6b3aeb0e;
      -webkit-animation-duration: 0.5s;
              animation-duration: 0.5s;
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
}
.wscn-http404 .bullshit__info[data-v-6b3aeb0e] {
      font-size: 13px;
      line-height: 21px;
      color: grey;
      opacity: 0;
      margin-bottom: 30px;
      -webkit-animation-name: slideUp-data-v-6b3aeb0e;
              animation-name: slideUp-data-v-6b3aeb0e;
      -webkit-animation-duration: 0.5s;
              animation-duration: 0.5s;
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
}
.wscn-http404 .bullshit__return-home[data-v-6b3aeb0e] {
      display: block;
      float: left;
      width: 110px;
      height: 36px;
      background: #1482f0;
      border-radius: 100px;
      text-align: center;
      color: #ffffff;
      opacity: 0;
      font-size: 14px;
      line-height: 36px;
      cursor: pointer;
      -webkit-animation-name: slideUp-data-v-6b3aeb0e;
              animation-name: slideUp-data-v-6b3aeb0e;
      -webkit-animation-duration: 0.5s;
              animation-duration: 0.5s;
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
}
@-webkit-keyframes slideUp-data-v-6b3aeb0e {
0% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
    opacity: 0;
}
100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}
}
@keyframes slideUp-data-v-6b3aeb0e {
0% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
    opacity: 0;
}
100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}
}

.el-table .warning-row {
    background: oldlace;
}
.el-table .success-row {
    background-color: azure;
}
.filename {
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.filename:hover {
    color: aquamarine;
}

.publish-container {
    width: 100%;
}
.publish-form {
    width: 800px;
}
.publish-container .el-form-item__content {
    text-align: left !important;
}
.mavon-class {
    /* width: 1200px; */
}








































































































































.panel-group[data-v-f706c4e2] {
  margin-top: 18px;
}
.panel-group .item-wrapper[data-v-f706c4e2] {
    height: 108px;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    color: #666;
    background: #fff;
    -webkit-box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05);
            box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.05);
}
.panel-group .item-wrapper:hover .icon-left[data-v-f706c4e2] {
      color: white;
}
.panel-group .item-wrapper:hover .icon-people[data-v-f706c4e2] {
      background: #40c9c6;
}
.panel-group .item-wrapper:hover .icon-message[data-v-f706c4e2] {
      background: #36a3f7;
}
.panel-group .item-wrapper:hover .icon-money[data-v-f706c4e2] {
      background: #f4516c;
}
.panel-group .item-wrapper:hover .icon-shoppingCard[data-v-f706c4e2] {
      background: #34bfa3;
}
.panel-group .item-wrapper .icon-left[data-v-f706c4e2] {
      float: left;
      float: left;
      margin: 14px 0 0 14px;
      padding: 16px;
      -webkit-transition: all 0.38s ease;
      transition: all 0.38s ease;
      border-radius: 6px;
}
.panel-group .item-wrapper .icon-people[data-v-f706c4e2] {
      color: #40c9c6;
}
.panel-group .item-wrapper .icon-message[data-v-f706c4e2] {
      color: #36a3f7;
}
.panel-group .item-wrapper .icon-money[data-v-f706c4e2] {
      color: #f4516c;
}
.panel-group .item-wrapper .icon-shoppingCard[data-v-f706c4e2] {
      color: #34bfa3;
}
.panel-group .item-wrapper .item-right[data-v-f706c4e2] {
      float: right;
      margin: 26px;
      margin-left: 0px;
      font-weight: bold;
}
.panel-group .item-wrapper .item-right .item-title[data-v-f706c4e2] {
        line-height: 18px;
        color: rgba(0, 0, 0, 0.45);
        font-size: 16px;
        margin-bottom: 12px;
}
.panel-group .item-wrapper .item-right .card-num[data-v-f706c4e2] {
        font-size: 20px;
}
.panel-group .item-wrapper .card-panel-icon[data-v-f706c4e2] {
      float: left;
      font-size: 48px;
}































































































































































































































































.dashboard-editor-container[data-v-a361ec26] {
  padding: 32px;
  background-color: #f0f2f5;
}
.dashboard-editor-container .chart-wrapper[data-v-a361ec26] {
    background: #fff;
    padding: 16px 16px 0;
    margin-bottom: 32px;
}

.dashboard-editor-container[data-v-1ba9dd15] {
  padding: 32px;
  background-color: #f0f2f5;
}
.dashboard-editor-container .chart-wrapper[data-v-1ba9dd15] {
    background: #fff;
    padding: 16px 16px 0;
    margin-bottom: 32px;
}

.emptyGif[data-v-4dfc1336] {
  display: block;
  width: 45%;
  margin: 0 auto;
}
.dashboard-editor-container[data-v-4dfc1336] {
  background-color: #e3e3e3;
  min-height: 100vh;
  margin-top: -50px;
  padding: 100px 60px 0px;
}
.dashboard-editor-container .pan-info-roles[data-v-4dfc1336] {
    font-size: 12px;
    font-weight: 700;
    color: #333;
    display: block;
}
.dashboard-editor-container .info-container[data-v-4dfc1336] {
    position: relative;
    margin-left: 190px;
    height: 150px;
    line-height: 200px;
}
.dashboard-editor-container .info-container .display_name[data-v-4dfc1336] {
      font-size: 48px;
      line-height: 48px;
      color: #212121;
      position: absolute;
      top: 25px;
}

.pan-item[data-v-175fbaac] {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	cursor: default;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.pan-info-roles-container[data-v-175fbaac] {
	padding: 20px;
	text-align: center;
}
.pan-thumb[data-v-175fbaac] {
	width: 100%;
	height: 100%;
	background-size: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	-webkit-transform-origin: 95% 40%;
	        transform-origin: 95% 40%;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.pan-thumb[data-v-175fbaac]:after {
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	border-radius: 50%;
	top: 40%;
	left: 95%;
	margin: -4px 0 0 -4px;
	background: radial-gradient(ellipse at center, rgba(14, 14, 14, 1) 0%, rgba(125, 126, 125, 1) 100%);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.9);
	        box-shadow: 0 0 1px rgba(255, 255, 255, 0.9);
}
.pan-info[data-v-175fbaac] {
	position: absolute;
	width: inherit;
	height: inherit;
	border-radius: 50%;
	overflow: hidden;
	-webkit-box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.05);
	        box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.05);
}
.pan-info h3[data-v-175fbaac] {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 18px;
	margin: 0 60px;
	padding: 22px 0 0 0;
	height: 85px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3);
}
.pan-info p[data-v-175fbaac] {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.pan-info p a[data-v-175fbaac] {
	display: block;
	color: #333;
	width: 80px;
	height: 80px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	color: #fff;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 24px;
	margin: 7px auto 0;
	font-family: 'Open Sans', Arial, sans-serif;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out 0.2s, background 0.2s linear 0s, -webkit-transform 0.3s ease-in-out 0.2s;
	transition: opacity 0.3s ease-in-out 0.2s, background 0.2s linear 0s, -webkit-transform 0.3s ease-in-out 0.2s;
	transition: transform 0.3s ease-in-out 0.2s, opacity 0.3s ease-in-out 0.2s, background 0.2s linear 0s;
	transition: transform 0.3s ease-in-out 0.2s, opacity 0.3s ease-in-out 0.2s, background 0.2s linear 0s, -webkit-transform 0.3s ease-in-out 0.2s;
	-webkit-transform: translateX(60px) rotate(90deg);
	        transform: translateX(60px) rotate(90deg);
}
.pan-info p a[data-v-175fbaac]:hover {
	background: rgba(255, 255, 255, 0.5);
}
.pan-item:hover .pan-thumb[data-v-175fbaac] {
	-webkit-transform: rotate(-110deg);
	        transform: rotate(-110deg);
}
.pan-item:hover .pan-info p a[data-v-175fbaac] {
	opacity: 1;
	-webkit-transform: translateX(0px) rotate(0deg);
	        transform: translateX(0px) rotate(0deg);
}

































.topRouter{
  height: 50px;
  width: 100%;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}
.container{
  position: relative;
  width: 100%;
  height: 100%
}
.sidebar-container{
}


































.el-submenu,
.el-menu-item {
    text-align: left;
}

.app-breadcrumb.el-breadcrumb[data-v-cc995e54] {
  display: inline-block;
  font-size: 14px;
  line-height: 50px;
  margin-left: 10px;
}
.app-breadcrumb.el-breadcrumb .no-redirect[data-v-cc995e54] {
    color: #97a8be;
    cursor: text;
}

.navbar[data-v-53ef67cf] {
  height: 50px;
  line-height: 50px;
  border-radius: 0px !important;
}
.navbar .breadcrumb[data-v-53ef67cf] {
    display: inline-block;
    font-size: 14px;
    line-height: 50px;
    margin-left: 10px;
    float: left;
}
.navbar .hamburger-container[data-v-53ef67cf] {
    line-height: 58px;
    height: 50px;
    float: left;
    padding: 0 10px;
}
.navbar .screenfull[data-v-53ef67cf] {
    position: absolute;
    right: 90px;
    top: 16px;
    color: red;
}
.navbar .avatar-container[data-v-53ef67cf] {
    height: 50px;
    display: inline-block;
    position: absolute;
    right: 35px;
}
.navbar .avatar-container .avatar-wrapper[data-v-53ef67cf] {
      cursor: pointer;
      margin-top: 5px;
      position: relative;
      -webkit-transition: all 1s linear 50ms;
      transition: all 1s linear 50ms;
}
.navbar .avatar-container .avatar-wrapper .user-avatar[data-v-53ef67cf] {
        width: 40px;
        height: 40px;
        border-radius: 10px;
}
.navbar .avatar-container .avatar-wrapper .el-icon-caret-bottom[data-v-53ef67cf] {
        position: absolute;
        right: -20px;
        top: 25px;
        font-size: 12px;
}
.navbar .avatar-container .avatar-wrapper[data-v-53ef67cf]:hover {
      color: aqua;
}

.hamburger[data-v-6ee092e2] {
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .38s;
    transition: .38s;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
}
.hamburger.is-active[data-v-6ee092e2] {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}

.login-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #2d3a4b;
}
.login-container input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #293444 inset !important;
    -webkit-text-fill-color: #fff !important;
}
.login-container input {
    background: transparent;
    border: 0px;
    -webkit-appearance: none;
    border-radius: 0px;
    padding: 12px 5px 12px 15px;
    color: #eee;
    height: 47px;
}
.login-container .el-input {
    display: inline-block;
    height: 47px;
    width: 85%;
}
.login-container .tips {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
}
.login-container .svg-container {
    padding: 6px 5px 6px 15px;
    color: #889aa4;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
}
.login-container .svg-container_login {
      font-size: 20px;
}
.login-container .title {
    font-size: 26px;
    font-weight: 400;
    color: #eee;
    margin: 0px auto 40px auto;
    text-align: center;
    font-weight: bold;
}
.login-container .login-form {
    position: absolute;
    left: 0;
    right: 0;
    width: 400px;
    padding: 35px 35px 15px 35px;
    margin: 120px auto;
}
.login-container .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #454545;
}
.login-container .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: #889aa4;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.login-container .thirdparty-button {
    position: absolute;
    right: 35px;
    bottom: 28px;
}

.icons-container[data-v-629cdcdf] {
  margin: 10px 20px 0;
  overflow: hidden;
}
.icons-container .icons-wrapper[data-v-629cdcdf] {
    margin: 0 auto;
}
.icons-container .warn-content[data-v-629cdcdf] {
    background: rgba(66, 185, 131, 0.1);
    border-radius: 2px;
    padding: 16px;
    padding: 1rem;
    line-height: 1.6rem;
    word-spacing: 0.05rem;
}
.icons-container .warn-content a[data-v-629cdcdf] {
      color: #42b983;
      font-weight: 600;
}
.icons-container .icon-item[data-v-629cdcdf] {
    margin: 20px;
    height: 110px;
    text-align: center;
    width: 110px;
    float: left;
    font-size: 30px;
    color: #24292e;
    cursor: pointer;
}
.icons-container span[data-v-629cdcdf] {
    display: block;
    font-size: 24px;
    margin-top: 10px;
}

.container[data-v-794655a4] {
  padding: 30px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
}
.container .message-title[data-v-794655a4] {
    cursor: pointer;
}
.container .handle-row[data-v-794655a4] {
    margin-top: 30px;
}













/* body,
html {
    width: 100%;
    height: 100%;
}
#app {
    width: 100%;
    height: 100%;
} */

.container {
  font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
  font-size: 0.16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10% 8% 0 8%;
}
.container .article-container:not(:nth-child(2)) {
  margin-top: 0.5rem;
}
.container .article-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  width: 100%;
  padding: 0.3rem 0 0.3rem 0.2rem;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .article-container:hover {
  background-color: aliceblue;
}
.container .article-container .content-left {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  width: 60%;
}
.container .article-container .content-left .title {
  font-weight: 500;
  font-size: 0.22rem;
  color: #212121;
}
.container .article-container .content-left .description {
  width: 90%;
  min-height: 2rem;
}
.container .article-container .content-left .bottom {
  position: relative;
}
.container .article-container .content-left .bottom .view-font {
  color: #017e66;
}
.container .article-container .content-left .bottom .author {
  right: 0;
  position: absolute;
}
.container .article-container .thumb-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 2.4rem;
}
.container .page {
  width: 100%;
  height: 0.8rem;
  text-align: center;
  font-size: 0.18rem;
  list-style: none;
}
.container .page li {
  display: inline-block;
  height: 0.3rem;
  line-height: 0.3rem;
  width: 1.7rem;
}
.container .page .to-page {
  color: #5f5f5f;
  cursor: pointer;
}
.container .page .num {
  color: #6fa3ef;
}

.header {
  width: 84%;
}
.header .navbar-container {
  width: 100%;
}

.footer-meta {
  margin-top: 0.3rem;
  border-top: 1px solid #e0e0e0;
}

.page-container {
  width: 100%;
  height: 100%;
  text-align: left;
  font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
  padding: 10% 8% 0 8%;
  font-size: 0.16rem;
}
.page-container .title {
  font-size: 0.22rem;
  color: #222;
  font-weight: 600;
}
.page-container .time {
  color: #999;
}
.page-container .tags {
  font-size: 0.14rem;
  border-bottom: 1px solid #e0e0e0;
}
.page-container .tags .tag {
  display: inline-block;
  margin-right: 0.05rem;
  margin-bottom: 0.05rem !important;
  color: #017e66;
  background-color: rgba(1, 126, 102, 0.08);
  height: 0.22rem;
  line-height: 0.22rem;
}
.page-container .tags .view {
  display: inline-block;
  color: #999;
}
.page-container .copyright {
  text-align: left;
  font-size: 14px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 25px 0px 20px;
}

.comment-container {
  padding: 0.3rem 0 0.3rem 0;
}
.comment-container .response {
  font-size: 0.15rem;
  font-weight: 400;
  display: block;
  padding: 30px 0 30px 20px;
  color: #5f5f5f;
}
.comment-container .comment-parent {
  background: transparent;
}
.comment-container .comment-parent .comment-view {
  background: white;
  margin-bottom: 20px;
}
