<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>vue管理系统</title>
    <link
      href="https://cdn.bootcss.com/element-ui/2.4.0/theme-chalk/index.css"
      rel="stylesheet"
    />
    <link href="static/home/css/style.css" rel="stylesheet" />
    <!-- 使用vue开发工具时，引入vue.js，生产时引入vue.min.js -->
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>

    <script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts-en.common.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.4.0/index.js"></script>
    <script>
      (function(window, document) {
        // 设计稿尺寸 1800
        var designSourceWidth = 1800;
        var flexible = {};
        flexible.px2rem = function(px) {
          return parseInt(px, 10) / 100;
        };
        flexible.mresize = function() {
          var innerWidth =
            (document.documentElement &&
              document.documentElement.clientWidth) ||
            window.innerWidth;
          if (!innerWidth) {
            return;
          }
          var width = innerWidth;
          var fontSize = (width * 100) / designSourceWidth;
          document.documentElement.style.fontSize = fontSize + "px";
        };
        flexible.mresize();
        window.addEventListener("resize", flexible.mresize, false);
        window.addEventListener("load", flexible.mresize, false);
        setTimeout(function() {
          flexible.mresize();
        }, 300);
        window.Flexible = flexible;
      })(window, document);
      window.user = {{ user }};
      window.recent = {{ recent }};
    </script>
  <link href="/static/self_blog/css/blog.82a0e88194915da36a8de02e32143bf1.css" rel="stylesheet"></head>
  <body>
    <div id="app"></div>
    <!-- test-->
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="/static/self_blog/js/manifest-548ee.js"></script><script type="text/javascript" src="/static/self_blog/js/vendor-548ee.js"></script><script type="text/javascript" src="/static/self_blog/js/blog-548ee.js"></script></body>
</html>
