<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="google" value="notranslate" />
        <meta http-equiv="Cache-Control" content="max-age=0" />
        <title>APOLLO管理平台</title>

        <script>
            (function(window, document) {
                // 设计稿尺寸 1800
                var designSourceWidth = 1800;
                var flexible = {};
                flexible.px2rem = function(px) {
                    return parseInt(px, 10) / 100;
                };
                flexible.mresize = function() {
                    var innerWidth =
                        (document.documentElement &&
                            document.documentElement.clientWidth) ||
                        window.innerWidth;
                    if (!innerWidth) {
                        return;
                    }
                    var width = innerWidth;
                    var fontSize = (width * 100) / designSourceWidth;
                    document.documentElement.style.fontSize = fontSize + "px";
                };
                flexible.mresize();
                window.addEventListener("resize", flexible.mresize, false);
                window.addEventListener("load", flexible.mresize, false);
                setTimeout(function() {
                    flexible.mresize();
                }, 300);
                window.Flexible = flexible;
            })(window, document);
            // debugger;
            // eslint-disable-next-line
            // window.serverConfig = {{ time }};
        </script>
    </head>

    <body>
        <div class="pcadmin" id="App">33</div>
        <!-- <script
            type="text/javascript"
            src="/static/apollo_fe/js/manifest-0732e.js"
        ></script
        ><script
            type="text/javascript"
            src="/static/apollo_fe/js/vendor-dbd51.js"
        ></script
        ><script
            type="text/javascript"
            src="/static/apollo_fe/js/car-index-adc0b.js"
        ></script> -->
    </body>
</html>
